.newsletter {
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    background-image: linear-gradient(180deg, #FFE53B, #ffffff 90%);
    gap: 30px;
}

.newsletter h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.newsletter p {
    color: #171717;
    font-size: 20px;
    font-weight: 600;
}

.newsletter-input {
    display: flex;
    align-items: center;
}

#email {
    background: transparent;
    border: .8px solid #171717;
    height: 50px;
    width: 500px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 0 20px;
    outline: none;
}

#newsletter-submit {
    height: 51px;
    width: 150px;
    margin-left: -100px;
    border: none;
    border-radius: 50px;
    background-color: #ff4141;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    border: none;

    &:hover {
        transform: scale(1.05);
    }
}