.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px 0;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 300px;
    height: 4px;
    background: #252525;
    border-radius: 20px;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-device-width: 500px) {
    .popular h1 {
        font-size: 30px;
    }
}